<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="close()">
                            <ion-icon name="arrow-back" class="searchButton"></ion-icon>
                            返回
                        </button>
        </ion-buttons>
        <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="getCitys($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
    <ion-item-group *ngIf="isShowHistory()">
        <ion-item-divider color="light">历史</ion-item-divider>
        <button ion-item (click)="selectCity(city)" *ngFor="let city of cityHistory">
                    <ion-icon item-start name="locate"></ion-icon>
                <h2>{{city.city}}</h2>
              </button>
    </ion-item-group>
    <ion-list>
        <button ion-item (click)="selectCity(city)" *ngFor="let city of currentCitys">
      <!-- <ion-avatar > -->
          <ion-icon item-start name="locate"></ion-icon>
      <!-- </ion-avatar> -->
      <h2>{{city.city}}</h2>
      <!-- <p>邮编：{{city.zipcode}}</p> -->
      <ion-note item-end>{{city.prov}}</ion-note>
    </button>
    </ion-list>
</ion-content>