<ion-header>

    <ion-navbar>
        <ion-title>{{ 'TREND_TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <section padding>
        <ion-segment class="ChartSegment" [(ngModel)]="chartType">
            <ion-segment-button *ngFor="let seg of ['温度','降水概率','气压','湿度','详情']" [value]="seg">
                {{seg}}
            </ion-segment-button>
        </ion-segment>
    </section>


    <line-chart *ngIf="chartType===hourTrendData.hum.title" [lineTitle]="'未来小时'+hourTrendData.hum.title+'趋势图'" [lineData]="hourTrendData.hum" [lineLabels]="hourTrendData.date.val"></line-chart>
    <line-chart *ngIf="chartType===hourTrendData.tmp.title" [lineTitle]="'未来小时'+hourTrendData.tmp.title+'趋势图'" [lineData]="hourTrendData.tmp" [lineLabels]="hourTrendData.date.val"></line-chart>
    <line-chart *ngIf="chartType===hourTrendData.pop.title" [lineTitle]="'未来小时'+hourTrendData.pop.title+'趋势图'" [lineData]="hourTrendData.pop" [lineLabels]="hourTrendData.date.val"></line-chart>
    <line-chart *ngIf="chartType===hourTrendData.pres.title" [lineTitle]="'未来小时'+hourTrendData.pres.title+'趋势图'" [lineData]="hourTrendData.pres" [lineLabels]="hourTrendData.date.val"></line-chart>
    <ion-list *ngIf="hourly_forecast!=[]&&chartType==='详情'">
        
        <ion-item-group>
            <ion-item-divider color="light">未来小时趋势</ion-item-divider>
            <ion-item *ngFor="let h of hourly_forecast;">
                <p>{{h.date}}</p>
                <p>湿度：{{h.hum}}%</p>
                <p>降水概率：{{h.pop}}%</p>
                <p>气压：{{h.pres}}</p>
                <p>温度：{{h.tmp | TempPipe}}</p>
                <div>
                    <p>风向：{{h.wind.dir}}</p>
                    <p>风向角度：{{h.wind.deg}}</p>
                    <p>风力：{{h.wind.sc}}</p>
                    <p>风速：{{h.wind.spd}}</p>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ng-container *ngIf="daily_forecast!=[]">
        <ion-card-header text-center>
            未来7天趋势
        </ion-card-header>
        <ion-card *ngFor="let h of daily_forecast;">
            <ion-card-content>
                <h2 text-left>
                    <ion-icon name="md-calendar">

                    </ion-icon>
                    {{h.date}}
                </h2>
                <ion-row *ngIf="h.cond!=null">
                    <ion-col>
                        白天天气：{{h.cond.txt_d}}
                        <img height="30" width="30" src="{{getWeatherIcon(h.cond.code_d)}}">
                    </ion-col>
                    <ion-col>
                        夜晚天气：{{h.cond.txt_n}}
                        <img height="30" width="30" src="{{getWeatherIcon(h.cond.code_n)}}">
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="h.tmp!=null">
                    <ion-col>
                        最高温度：{{h.tmp.max | TempPipe}}
                    </ion-col>
                    <ion-col>
                        最低温度：{{h.tmp.min | TempPipe}}
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>湿度：{{h.hum}}%</ion-col>
                    <ion-col>降水量：{{h.pcpn}}%</ion-col>
                    <ion-col>气压：{{h.pres}}</ion-col>
                    <ion-col>能见度：{{h.vis}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>风向：{{h.wind.dir}}</ion-col>
                    <ion-col>角度：{{h.wind.deg}}°</ion-col>
                    <ion-col>风力：{{h.wind.sc}}</ion-col>
                    <ion-col>风速：{{h.wind.spd}}</ion-col>
                </ion-row>

                <ion-row *ngIf="h.astro!=null">
                    <ion-col>月升：{{h.astro.mr}}</ion-col>
                    <ion-col>月落：{{h.astro.ms}}</ion-col>
                    <ion-col>日出：{{h.astro.sr}}</ion-col>
                    <ion-col>日落：{{h.astro.ss}}</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ng-container>

</ion-content>