// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$black-overlay: rgba(0, 0, 0, .3);
$text-color: #666;
$banner-text-color: white;
$content-color: whitesmoke;
$detail-background: rgba(236, 236, 236, .8);
/* Header */
.toolbar-background {
    border-color: transparent;
    background: $black-overlay;
}
.bar-button,
.toolbar-title {
    color: $banner-text-color;
}