<ion-header no-border>
    <ion-navbar>
        <ion-title>{{ 'WEATHER_TITLE' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (tap)="switchPlace()">
                <ion-icon name="swap"></ion-icon>
                切换城市
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content fullscreen elestic-header>
    <section class="weather-image">
        <section class="weather-banner" padding>
            <span class="city">{{cityname}} </span>
            <span class="weather-time">更新时间：{{update.loc}}</span>
        </section>
    </section>
    <!-- <h4 text-center>当前天气</h4> -->
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <img *ngIf="cond.code!=null" height="50" width="50" src="{{getWeatherIcon(cond.code)}}">
                    <span class="item-block flex-self">
                        天气：{{cond.txt}}
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-thermometer-outline"></ion-icon>
                    <span class="item-block flex-self">
                            温度：{{now.tmp}}°C
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-water-outline"></ion-icon>
                    <span class="item-block flex-self">
                            湿度：{{now.hum}}%
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="listing-details">
            <ion-row>
                <ion-col col-6>
                    <ion-icon name="ios-flame"></ion-icon>体感温度：{{now.fl | DataPipe}}°C
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-water"></ion-icon>降水量：{{now.pcpn | DataPipe}}
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-speedometer-outline"></ion-icon>气压：{{now.pres | DataPipe}}
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-partly-sunny-outline"></ion-icon>能见度：{{now.vis | DataPipe}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </section>
    <h4 text-center>风力风向</h4>
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <ion-icon name="ios-swap"></ion-icon>
                    <span class="item-block flex-self">
                            风向：{{wind.dir | DataPipe}}
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-send-outline"></ion-icon>
                    <span class="item-block flex-self">
                            风向角度：{{wind.deg | DataPipe}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="md-aperture"></ion-icon>
                    <span class="item-block flex-self">
                            风力：{{wind.sc | DataPipe}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-jet"></ion-icon>
                    <span class="item-block flex-self">
                                风速：{{wind.spd | DataPipe}}
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>

    </section>
    <h4 text-center>空气质量</h4>
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <ion-icon name="ios-ribbon"></ion-icon>
                    <span class="item-block flex-self">
                                空气质量等级：{{city.qlty | DataPipe}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-nuclear-outline"></ion-icon>
                    <span class="item-block flex-self">
                                空气污染指数：{{city.aqi | DataPipe}}
                            </span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="listing-details">
            <ion-row>
                <ion-col col-6 *ngIf="city.co">
                    一氧化碳：{{city.co}}
                </ion-col>
                <ion-col col-6 *ngIf="city.no2">
                    二氧化氮：{{city.no2}}
                </ion-col>
                <ion-col col-6 *ngIf="city.o3">臭氧：{{city.o3}}</ion-col>
                <ion-col col-6 *ngIf="city.pm10">pm10：{{city.pm10}}</ion-col>
                <ion-col col-6 *ngIf="city.pm25">pm25：{{city.pm25}}</ion-col>
                <ion-col col-6 *ngIf="city.so2">二氧化硫：{{city.so2}}</ion-col>
            </ion-row>
        </ion-grid>


    </section>
</ion-content>
<!-- <ion-footer>
    <button ion-button large full no-margin color="danger">
      备用按钮
    </button>
</ion-footer> -->