<!-- <ion-content>
    <ion-list>
        <ion-item>城市：{{cityname}}&nbsp;{{basic.city}}</ion-item>
        <ion-item>更新时间：{{update.loc}}</ion-item>
        <ion-item-group>
            <ion-item-divider color="light">当前天气</ion-item-divider>
            <ion-item>天气：{{cond.txt}}
                <img *ngIf="cond.code!=null" height="30" width="30" src="{{getWeatherIcon(cond.code)}}">
            </ion-item>
            <ion-item>体感温度：{{now.fl}}°C</ion-item>
            <ion-item>湿度：{{now.hum}}%</ion-item>
            <ion-item>降水量：{{now.pcpn}}</ion-item>
            <ion-item>气压：{{now.pres}}</ion-item>
            <ion-item>温度：{{now.tmp}}°C</ion-item>
            <ion-item>能见度：{{now.vis}}</ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">风力风向</ion-item-divider>
            <ion-item>风向：{{wind.dir}}</ion-item>
            <ion-item>风向角度：{{wind.deg}}</ion-item>
            <ion-item>风力：{{wind.sc}}</ion-item>
            <ion-item>风速：{{wind.spd}}</ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">空气质量</ion-item-divider>
            <ion-item>空气质量等级：{{city.qlty}}</ion-item>
            <ion-item>空气污染指数：{{city.aqi}}</ion-item>
            <ion-item>一氧化碳：{{city.co}}</ion-item>
            <ion-item>二氧化氮：{{city.no2}}</ion-item>
            <ion-item>臭氧：{{city.o3}}</ion-item>
            <ion-item>pm10：{{city.pm10}}</ion-item>
            <ion-item>pm25：{{city.pm25}}</ion-item>
            <ion-item>二氧化硫：{{city.so2}}</ion-item>
        </ion-item-group>
       
    </ion-list>
</ion-content> -->

<ion-header no-border>
    <ion-navbar>
        <ion-title>{{ 'WEATHER_TITLE' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (tap)="addPlace()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content fullscreen elestic-header>
    <section class="weather-image">
        <section class="weather-banner" padding>
            <span class="city">{{basic.city}}&nbsp;{{cityname}} </span>
            <span class="weather-time">更新时间：{{update.loc}}</span>
        </section>
    </section>
    <!-- <h4 text-center>当前天气</h4> -->
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <img *ngIf="cond.code!=null" height="50" width="50" src="{{getWeatherIcon(cond.code)}}">
                    <span class="item-block flex-self">
                        天气：{{cond.txt}}
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-thermometer-outline"></ion-icon>
                    <span class="item-block flex-self">
                            温度：{{now.tmp}}°C
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-water-outline"></ion-icon>
                    <span class="item-block flex-self">
                            湿度：{{now.hum}}%
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="listing-details">
            <ion-row>
                <ion-col col-6>
                    <ion-icon name="ios-flame"></ion-icon>体感温度：{{now.fl}}°C
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-water"></ion-icon>降水量：{{now.pcpn}}
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-speedometer-outline"></ion-icon>气压：{{now.pres}}
                </ion-col>
                <ion-col col-6>
                    <ion-icon name="ios-partly-sunny-outline"></ion-icon>能见度：{{now.vis}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </section>
    <h4 text-center>风力风向</h4>
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <ion-icon name="ios-swap"></ion-icon>
                    <span class="item-block flex-self">
                            风向：{{wind.dir}}
                    </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-send-outline"></ion-icon>
                    <span class="item-block flex-self">
                            风向角度：{{wind.deg}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="md-aperture"></ion-icon>
                    <span class="item-block flex-self">
                            风力：{{wind.sc}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-jet"></ion-icon>
                    <span class="item-block flex-self">
                                风速：{{wind.spd}}
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>

    </section>
    <h4 text-center>空气质量</h4>
    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center>
                    <ion-icon name="ios-ribbon"></ion-icon>
                    <span class="item-block flex-self">
                                空气质量等级：{{city.qlty}}
                        </span>
                </ion-col>
                <ion-col text-center>
                    <ion-icon name="ios-nuclear-outline"></ion-icon>
                    <span class="item-block flex-self">
                                空气污染指数：{{city.aqi}}
                            </span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="listing-details">
            <ion-row>
                <ion-col col-6>
                    一氧化碳：{{city.co}}
                </ion-col>
                <ion-col col-6>
                    二氧化氮：{{city.no2}}
                </ion-col>
                <ion-col col-6>臭氧：{{city.o3}}</ion-col>
                <ion-col col-6>pm10：{{city.pm10}}</ion-col>
                <ion-col col-6>pm25：{{city.pm25}}</ion-col>
                <ion-col col-6>二氧化硫：{{city.so2}}</ion-col>
            </ion-row>
        </ion-grid>


    </section>
</ion-content>
<!-- <ion-footer>
    <button ion-button large full no-margin color="danger">
      备用按钮
    </button>
</ion-footer> -->