page-weather {
    .btu-sound {
        float: right;
        position: absolute;
        right: 2px;
        bottom: -1px;
        color: white;
    }
    /* Image */
    .weather-image {
        background-size: cover;
        height: 37.5vh;
        position: relative;
        // background-image: url('./../assets/img/background.png');
        // background-image: url('https://cn.bing.com/ImageResolution.aspx?w=640&h=360');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .weather-banner {
        color: $banner-text-color;
        background: $black-overlay;
        height: 10vh;
        width: 100vw;
        position: absolute;
        bottom: -1px;
        .weather-time {
            display: block;
            font-size: 1.2rem;
        }
        .city {
            font-size: 2.2rem;
        }
    }
    /* Content */
    .content {
        background: $content-color;
        .flex-self {
            display: flex;
            justify-content: center;
        }
    }
    .scroll-content {
        padding-top: 0 !important;
    }
    .main-content {
        color: $text-color;
    }
    .listing-details ion-col {
        padding: 1rem;
        margin: 0.5rem 1%;
        max-width: 48%;
        background: $detail-background;
        ion-icon {
            margin-right: .5rem;
        }
    }
    .main-features {
        ion-col:first-child {
            color: map-get($colors, primary);
        }
        ion-col:nth-child(2) {
            color: map-get($colors, danger);
        }
        ion-col:nth-child(3) {
            color: map-get($colors, dark);
        }
        //    color: #3cc59a;
        ion-icon {
            font-size: 5.5rem !important;
        }
    }
    .item-block {
        text-align: center;
        display: block;
    }
}